DATABASE_URL="postgresql://postgres:123456@localhost:5432/logitrack_db?schema=public"
JWT_ACCESS_SECRET="super-secret-access-key-logitrack-2026"
JWT_REFRESH_SECRET="super-secret-refresh-key-logitrack-2026"
PORT=3000
CLIENT_ORIGIN="*"